html,
body {
    margin: 0;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #333;
    background-color: #fafafa;
}

dl {
    margin: 0;
}

dd {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #09f;
}

a:hover,
a:active,
a:focus,
a:focus:active {
    outline: 0;
    color: #333;
}

.app {
    margin: 60px;
}

.title {
    color: #ba4458;
    margin-bottom: 20px;
}
